.blockB {
  text-align: center;
  background-color: $veryDarkBlue;
  background-image: url('/images/bg-pattern-circles.svg');
  background-size: 586px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -263px;
  border-bottom-left-radius: 80px 86px;
  border-top-right-radius: 86px 80px;

  @include breakpoint-up(large) {
    background-size: 70%;
    background-position-x: -50%;
    background-position-y: 80%;
  }

  .f-box-b {
    @include breakpoint-up(large) {
      display: flex;
      align-items: center;
      min-height: 450px;
      justify-content: space-between;
    }
  }

  &__image {
    position: relative;
    background-image: none;
    min-height: 10rem;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      min-height: 350px;
      background-image: url('/images/illustration-phones.svg');
      background-size: contain;
      background-repeat: no-repeat;
      left: 1%;
      top: -111%;
    }

    @include breakpoint-up(large) {
      flex: 1;
      background-image: none;

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        min-height: 650px;
        background-image: url('/images/illustration-phones.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right center;
        left: -10%;
        top: -220px;
      }
    }
  }

  &__text {
    h3 {
      font-size: 1.85rem;
      line-height: 1.15;
      margin-bottom: 1.4375rem;
    }

    p {
      font-size: $font-med;

      @include breakpoint-down(small) {
        padding-bottom: 6.25rem; //100px
      }
    }

    @include breakpoint-up(large) {
      flex: 1;
      text-align: left;
      h3 {
        font-size: 2rem;
      }

      p {
        font-size: 1.25rem;
      }
    }
  }
}
