.back-image {
  background: $lightRed;
  background-image: url(/images/bg-pattern-intro.svg),
    linear-gradient(0.53turn, #fe846d, #ff525d);
  width: 100%;
  height: 100%;
  background-size: 1387px;
  background-repeat: no-repeat;
  background-position: -358px -245px;

  @include breakpoint-up(large) {
    background-size: 3050px;
    background-position: bottom -1180px right -1160px;
  }
}

.header {
  box-sizing: border-box;
  border-bottom-left-radius: 86px 80px;

  nav {
    font-family: 'Ubuntu', sans-serif;

    position: relative;
    padding-top: 3rem;

    @include breakpoint-up(large) {
      padding-top: 3.625rem;
    }
  }

  &__toggle {
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
  }

  &__left {
    flex: 2 1 0;
    padding-left: 4rem;

    a {
      position: relative;
      cursor: pointer;
    }
  }

  &__dropdown {
    min-width: 5.625rem;
    position: relative;

    .sub-link {
      width: 100%;
    }

    .sub-link:hover:hover {
      text-decoration: underline;

      .sub-logo {
        transform: rotate(180deg);
      }
    }

    .sub-logo {
      margin-left: 0.3rem;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
    }

    &:not(:last-child) {
      margin-right: 32px;
    }

    .submenu {
      min-width: 10.5625rem;
      border-radius: 5px;
      padding: 0.875rem 1.5rem;
      background-color: $white;
      text-align: left;
      box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.2);
      position: absolute;
      top: 150%;
      left: 50%;
      right: 0;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.2s linear, visibility 0.2s linear;

      &__item {
        display: block;
        font-size: $font-med;
        color: $veryDarkBlue;
        padding: 0.5rem 0;

        &:last-child {
          padding-bottom: 2px;
        }
      }

      &__item:hover {
        font-weight: 700;
      }
    }
  }

  &__dropdown:hover .submenu {
    opacity: 1;
    visibility: visible;
  }

  &__right {
    a {
      position: relative;
      font-size: $font-med;
      font-weight: 500;

      &:first-child {
        margin-right: 32px;
      }
    }
  }

  .btn {
    display: inline-block;
    border-radius: 50px;
    padding: 0.8rem 1.8rem;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    font-weight: 500;
    height: 3rem;
    font-size: $font-med;
    transition: all 300ms ease-in-out;
  }

  .btn-fill {
    background-color: $white;
    color: $lightRed;
  }

  .btn-fill:hover {
    background-color: $veryLightRed;
    color: $white;
  }

  .btn-outline {
    background-color: transparent;
    border: 2px solid $white;
    color: $white;
  }

  .btn-outline:hover {
    background-color: $white;
    color: $veryLightRed;
    border: 2px solid $white;
  }

  &__hero {
    text-align: center;
    padding-bottom: 7.5rem;

    p {
      font-size: $font-lg;
      margin-bottom: 3.125rem;
    }

    @include breakpoint-down(small) {
      padding-top: 6.25rem;
      padding-right: 2.25rem;
      padding-bottom: 8.375rem;
      padding-left: 2.25rem;

      h1 {
        font-size: 1.875rem;
      }
      p {
        font-size: 1rem;
        margin-bottom: 2.75rem;
      }
    }
  }

  &__buttons {
    a {
      line-height: 1;

      &:first-child {
        margin-right: 20px;
      }
    }

    @include breakpoint-down(small) {
      .btn {
        padding: 0.875rem;
        max-width: 7.5625rem;
        font-size: $font-sm;
        font-weight: 500;
        height: 2.625rem;
      }
    }
  }
}
