.mobile {
  background-color: $white;
  padding: 1.2rem;
  border-radius: 5px;
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  width: calc(100% - 2.75rem);
  top: 120px;
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 1.3rem;
  z-index: 100;

  &__links {
    .select-link {
      color: $veryDarkBlue;
      margin-bottom: 1.5625rem;
      display: inline-block;
    }
  }

  .arrow {
    display: inline-block;
    width: 1rem;
    margin-left: 0.5rem;
  }

  .a1,
  .a2,
  .a3 {
    transition: all 0.5s ease-in-out;
  }

  &__list {
    border-radius: 5px;
    background-color: hsl(0, 0%, 91%);
    margin-bottom: 1.25rem;

    a {
      display: block;
      color: $veryDarkGrayishBlue;
      line-height: 2;
    }
  }

  .line_height {
    margin-top: 1.05rem;
    margin-bottom: 2.05rem;
    opacity: 0.7;
  }

  &__btn {
    text-align: center;

    .cta {
      display: block;
      color: $veryDarkBlue;
      padding-bottom: 1.85rem;
    }

    .btn--fill {
      background-image: linear-gradient(to right, $veryLightRed, $lightRed);
      color: $white;
      margin-bottom: 1.85rem;
    }
  }
}

#y1,
#y2,
#y3 {
  display: none;
}
